.user{
    height: calc(100vh - 100px);
    // background-color: burlywood;
    margin: 0 auto;
}
.user__list{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 40%;
}
h1{
    text-align: center;
font-size: 42px;
color: mediumblue;
}
.user__item{
  border-radius: 8px;
  background-color: rgb(187, 231, 227);
  margin-bottom: 15px;
}
.user__item:nth-child(2n){
    background-color: gray;
    color: white;

}
.user__link{
    text-decoration: none;
    font-size: 24px;
    color: black;
    transition: .5s ease all;
    display: block;
}
.user__link:hover{
    text-decoration: underline;
    color: red;
}
