footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    }
    footer{
        background-color: #282c34;
        display: flex;
        align-items: center;
    }
    footer ul a{
        color: white;
        font-size: 24px;
        text-decoration: none;
        padding: 10px 20px;
       
    }
    .logo{
        font-size: 48px;
        color: wheat;
        flex-grow: 1;
        display: block;
    margin-left: 15px;
    margin: 15px;
    }